
@model IEnumerable<TheDbMovies.Models.Movie>
@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/moviesController.js"></script>
<script src="~/js/myApp-movies.js"></script>
<script src="~/bower_components/angular/angular.min.js"></script>

<h1>My Movies</h1>
<div class="row" ng-app="myApp-movies">
    <div ng-controller="moviesController as vm">
        @*<a href="#/newMovie" class="btn btn-primary">New Movie</a>*@
        <div ng-show="vm.busy" class="text-primary">Loading...</div>
        <div ng-show="vm.errorMessage.length > 0">{{ vm.errorMessage }}</div>

        <table class="table table-responsive table-striped">
            <thead>
                <tr>{{ movie.Title }}</tr>
            </thead>
            <tr ng-repeat="movie in vm.movies">
                <!-- Heading -->
                <td>{{movie.Title}}</td>
                <td>{{movie.ReleaseDate| date: 'MM-dd-yyyy'}}</td>
                <td>{{movie.DirectorBy}}</td>
                <td>{{movie.Summary}}</td>
                <td>
                    <div class="pull-right">
                        <a href="#/editVisit/{{ movie.id }}" class="btn btn-info btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm" ng-click="vm.deleteMovie(movie.id)">Delete</button>
                    </div>
                </td>
                <!-- Paragraph -->

            </tr>
        </table>

    </div>

    <div class="col-md-6 ">
        <h2>The Movies</h2>
        <table id="movies" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>

                    <th>Release Date</th>
                    <th>Summary</th>
                    <th>Director</th>

                </tr>
            </thead>
            <tbody>
           
                    @foreach (var item in Model)
                    {

                <tr>
                    <td>@item.Title</td>
                    <td> @item.ReleaseDate</td>
                    <td> @item.Summary</td>

                </tr>
                    }
                </tbody>
               </table>
</div>

    </div>


